.text-area {
    border: 1px solid var(--silver-darken5);
    box-sizing: border-box;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    line-height: 16px;
    padding: 3px 8px;
    resize: none;
    width: 100%;
}

.text-area:focus {
    outline: none;
}

.hint {
    margin-top: 2px;
}