.input {
    border: none;
    border-bottom: 1px solid var(--silver-darken5);
    color: inherit;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    height: 24px;
    line-height: inherit;
    width: 230px;
}

input::placeholder {
    color: #D9D9D9
}

.input:focus {
    outline: none;
}