.link {
    align-items: center;
    color: var(--gray-lighten10);
    display: inline-flex;
    font-size: 14px;
    gap: 5px;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
}

.link:global(.hasLink) {
    color: var(--blue-base);
}

.link-decoration {
    background: currentColor;
    bottom: 4px;
    height: 1px;
    opacity: 0.3;
    position: relative;
}