:global(.tooltip) {
    background: var(--shade-hard);
    border-radius: 2px;
    color: var(--grey-500);
    display: none;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    position: absolute;
    white-space: nowrap;
}

:global(.tooltip):global(.bottom) {
    top: calc(100% + 6px);
    left: 50%;
    transform: translate(-50%, 0);
}

.triangle {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--shade-hard);
    left: 8px;
    position: absolute;
    top: -5px;
}

:global(.tooltip):global(.bottom) .triangle {
    top: -5px;
    left: calc(50% - 5px);
}