.property {
    align-items: start;
    border-bottom: 1px solid var(--silver-darken5);
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto auto;
    height: 47px;
    padding: 0 20px;
}

.property:global(.open) {
    cursor: default;
    height: auto;
    padding: 0 20px 21px;
}

.label {
    align-items: center;
    display: flex;
    gap: 5px;
    height: 24px;
    margin: 12px 0;
}

.property.property:global(.disabled) .name {
    opacity: 0.3;
}

.action {
    margin: 12px 0;
}

.property:not(:global(.open)):hover .action {
    background: var(--shade-light);
}