@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url(./theming/colors.css);

body,
html {
    min-height: 100vh;
}

body {
    color: var(--gray-lighten10);
    margin: 0;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    background: var(--silver-base);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    overflow: visible;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece {
    display: none;
}

::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: var(--silver-base);
}

::selection {
    background: #006cff;
    color: var(--white);
}
