.icon-button {
    background: transparent;
    border: none;
    border-radius: 2px;
    display: inline-block;
    line-height: 0;
    margin: 0;
    padding: 5px;
    transition: background 0.2s ease;
}

.icon-button:hover {
    background: var(--shade-light);
}