.link {
    color: var(--grey-900);
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 0 7px;
    text-decoration: none;
}

.link-decoration {
    background: var(--grey-900);
    bottom: 4px;
    height: 1px;
    opacity: 0.3;
    position: relative;
}